images/picture.jpeg
images/picture2.jpg
node_modules/
package-lock.json
.vscode
*.vscode
*.jpg
*.JPG
*.png
*.jpeg
*.gif
*.conf
.github
index.js
src/local_components
src/lambda_components/node_modules
src/lambda_components/package-lock.json
src/lambda_components/package.json
